.App {
  text-align: center;
}

html, body {
  margin: 0;
  padding: 0;
}

.pageWrapper {
  background-color: pink;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.header {
  background-color: tan;
  padding: 0;
  margin: 0;
  width: 100%;
}

.assignmentList {
  margin: 50px 0 50px 200px;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
}

.message {
  background-color: gray;
  padding: 5px 10px;
  margin: 10px;
  text-align: left;
}

.message p {
  margin: 0;
  padding: 0;
}

.assignmentThumb {
  margin: 20px 100px;
  width: 400px;
  height: 80px;
  background-color: grey;
}

.assignmentContent {
  margin: 30px;
  display: flex;
  justify-content: space-evenly;
}

.switch {
  width: 600px;
  height: 500px;
  border: solid red 3px;
}

.chat {
  width: 400px;
  height: 500px;
  border: solid red 3px;
}

.assignmentThumb p {
  font-size: 20pt;
  margin: auto;
}

.header p {
  padding: 40px;
  margin: 0;
  font-size: 32pt;
  color: navy;
}

.scorecard {
  margin: 50px;
  background-color: blue;
  width: 300px;
  height: 250px;
}
